<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <services>
   
  </services>
  <config>
    <releasedate>6/5/2015 </releasedate>
    <latestdate>    </latestdate>
    <status>new</status>
    <trialcounter>0</trialcounter>
  </config>
  <settings>
    <mfloat>   </mfloat>
    <tfloat>   </tfloat>
    <efloat>   </efloat>
    <afloat>   </afloat>
    <cfloat>   </cfloat>
    <cashIn>   </cashIn>
    <lang>      </lang>
    
  </settings>
  
  
  
  
</configuration>